<link rel="stylesheet" href="/stylesheets/style.css">

<a href="/">Back</a>
<form class="form" method="post" action="/new">
  <h1>New message</h1>
  <input type="text" name="name" id="name" placeholder="Name" required>
  <textarea type="text" name="message" id="message" placeholder="Enter a message" row="3" required></textarea>
  <input class="summit" type="submit" value="Submit">
</form>